services:
  app:
    build:
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./src:/work
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
  
  web:
    image: nginx:1.29.4-alpine
    ports:
      - 8000:80
    volumes:
      - ./src:/work
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /data

  db:
    build: ./docker/db
    volumes:
      - db-store:/var/lib/mysql
    ports:
      - 3306:3306
    env_file:
      - ./docker/db/.env.example
  
  redis:
    image: redis:8.4
    ports:
      - 6379:6379

  front:
    build:
      dockerfile: ./docker/front/Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./front:/work
      # - front_node_modules:/work/node_modules
    env_file: ./front/.env.development # TODO: 指定しなくてもNODE_ENVにより識別できるはず

volumes:
  db-store:
  front_node_modules: