services:
  app:
    build: ./docker/php
    volumes:
      - ./src:/work
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
  
  web:
    image: nginx:1.29.4-alpine
    ports:
      - 8000:80
    volumes:
      - ./src:/work
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /data

  db:
    build: ./docker/db
    volumes:
      - db-store:/var/lib/mysql
    ports:
      - 3306:3306
    env_file:
      - ./docker/db/.env.example
  
  redis:
    image: redis:8.4
    ports:
      - 6379:6379

  front:
    build: ./docker/front
    ports:
      - 3000:3000
    env_file:
      - ./docker/front/.env.example
    volumes:
      - ./front:/work

volumes:
  db-store:
